<!-- INCLUDECSS @towen_editlog/editlog.css -->
<!-- INCLUDE overall_header.html -->

<h2>{L_EDIT_LOG}</h2>
<h4>{L_POST_TITLE}: <a href="{U_POST}">{POST_SUBJECT}</a></h4>

<form action="{U_ACTION}" method="POST" id="edit-compare">
    <div class="forumbg forumbg-table">
        <div class="inner">
            <table class="table1">
                <thead>
                <tr>
                    <th class="edit-check">{L_MARK}</th>
                    <th class="edit-user">{L_USER}</th>
                    <th class="edit-reason">{L_EDIT_REASON}</th>
                    <th class="old-subject">{L_SUBJECT}</th>
                    <th class="edit-time">{L_EDIT_TIME}</th>
                </tr>
                </thead>
                <tbody>
                <!-- BEGIN edit -->
                <tr class="<!-- IF edit.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
                    <td class="edit-check"><input type="checkbox" name="option[]" value="{edit.EDIT_ID}" <!-- IF (OLD_POST and (edit.EDIT_ID == OLD_POST or edit.EDIT_ID == NEW_POST)) or (not OLD_POST and (edit.S_FIRST_ROW or edit.S_LAST_ROW)) -->checked="checked"<!-- ENDIF -->></input></td>
                    <td class="edit-user">{edit.USERNAME}</td>
                    <td class="edit-reason">{edit.EDIT_REASON}</td>
                    <td class="old-subject">{edit.OLD_SUBJECT}</td>
                    <td class="edit-time">{edit.EDIT_TIME}</td>
                </tr>
                <!-- END edit -->
                </tbody>
            </table>
        </div>
    </div>
    <input type="submit" class="button1" name="compare" value="{L_COMPARE_VERSIONS}" />
    <!-- IF S_DELETE --><input type="submit" class="button2" name="delete" value="{L_DELETE}" /><!-- ENDIF -->
    {S_FORM_TOKEN}
</form>

<!-- IF CONTENT -->
<div class="forabg">
    <div class="inner">
        <ul class="topiclist"><li class="header">
            <dl><dt>{L_TEXT_CHANGES}</dt></dl>
        </li></ul>
        <div id="edit-content" class="bg2">{CONTENT}</div>
    </div>
</div>
<br />
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->

<script type="text/javascript">
    // <![CDATA[
    $("input:checkbox").on('click', function(e) {
        $checked = $("#edit-compare input:checked");
        $this = $(this);
        if ($checked.length > 2) {
            $checked.not($this).prop('checked', false);
        }
        if ($this.prop('checked')) {
            $this.prop('checked', true);
        }
    });
    // ]]>
</script>
